<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>Adding New User</h2>
    <form action="/user/new" method="post">
        <input type="email" name="email" id="" placeholder="enter valid email" required>
        <br><br>
        <input type="text" name="username" id="" placeholder="enter unique username" required>
        <br><br>
        <input type="password" name="password" id="" placeholder="enter password" required>
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>